<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>



<body style="background-color: #C4E2EE ;text-align:center">

<h1 style="text-align:center; color: black"> Welcome to Al-Netek!</h1>

<br>
<br>

<a href="{% url 'index' %}">Home</a> <br>
<a href="{% url 'QueryResults' %}">Query Results</a> <br>
<a href="{% url 'RecordsManagement' %}">Records Management</a> <br>
<a href="{% url 'Rankings' %}" >Rankings</a> <br>

<br>
<br>

<img src="../static/mediaapp.jpg" alt="media" style="width: 500px;height:350px;">

</body>
</html>

